{% extends 'layout/study.html' %}
{% load static %}
{% block body %}
        <div>
        <div id="python" style="margin: 30px">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">javaSE</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>java概述</th>
                            <th>数据类型</th>
                            <th>运算符和表达式</th>
                            <th>流程控制</th>
                            <th>方法</th>
                            <th>数组</th>
                            <th>面向对象</th>
                        </tr>
                        <tr>
                            <td>java语言的由来和历史</td>
                            <td>int,float等</td>
                            <td>三元运算符等</td>
                            <td>判断语句,循环语句</td>
                            <td>方法的构造及使用</td>
                            <td>数组的操作</td>
                            <td>对象的操作及使用</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}