{% extends 'layout/basic.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div>
                <h1> 编辑成员信息</h1>
            </div>
            <form method="post" novalidate>
                <form id="regForm" novalidate method="post">
                    {% csrf_token %}
                    {% for field in forms %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <span class="error-msg">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-xs-3">
                            <input type="submit" class="btn btn-primary" value="修改">
                        </div>
                    </div>
                </form>
            </form>
        </div>
    </div>
{% endblock %}