{% extends 'layout/study.html' %}
{% load static %}
{% block body %}
    <div>
        <div id="python" style="margin: 30px">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">HTML</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>认识html</th>
                            <th>标签的分类</th>
                            <th>标签的种类</th>
                        </tr>
                        <tr>
                            <td>html的特点</td>
                            <td>自闭和标签和双标签</td>
                            <td>div,span,p等常用标签</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="python" style="margin: 30px">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">CSS</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>认识CSS</th>
                            <th>CSS的存在形式</th>
                            <th>CSS的选择器</th>
                            <th>CSS的基本样式</th>
                            <th>BootStrap</th>
                            <th>布局</th>
                        </tr>
                        <tr>
                            <td>CSS的特点</td>
                            <td>文件等</td>
                            <td>类,id选择器等</td>
                            <td>背景色,字体等</td>
                            <td>BootStrap框架的使用</td>
                            <td>弹性布局,响应式布局等</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="python" style="margin: 30px">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">javascript</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>认识javascript</th>
                            <th>javascript的存在形式</th>
                            <th>javascript基础知识</th>
                            <th>DOM,BOM</th>
                            <th>jquery</th>
                            <th>ES6语法</th>
                        </tr>
                        <tr>
                            <td>javascript的特点</td>
                            <td>文件等</td>
                            <td>面向对象,函数等</td>
                            <td>熟练的用DOM和BOM操作标签</td>
                            <td>了解$符使用规则,利用jquery操作DOM等</td>
                            <td>熟悉掌握箭头函数等新语法</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="python" style="margin: 30px">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">VUE</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>认识VUE</th>
                            <th>VUE的母版语法</th>
                            <th>VUE的指令</th>
                            <th>VUE的底层</th>
                            <th>VUE的组件化编程</th>
                            <th>VUE-CLI</th>
                        </tr>
                        <tr>
                            <td>VUE的特点</td>
                            <td>插值语法等</td>
                            <td>V-if,v-model等</td>
                            <td>熟悉掌握数据代理和数据劫持</td>
                            <td>熟悉掌握VUE的组件及应用</td>
                            <td>熟悉掌握VUE的脚手架用法</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}